@model School_Management.Models.TeacherModel

@{
    ViewData["Title"] = "CreateTeacher";
}


<div class="section mt-3 mr-5">
    <div class="bg-dark p-3 roundCorder">
        <h4>Create Teacher</h4>
    </div>

    <div class="row mt-4">

        <div class="col-md-12">
            <form asp-action="CreateTeacher">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <label>Personal Information</label>
                <div>
                    <div class="bg-dark roundCorder">
                        <div class="p-3">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Names</label>
                                    <input asp-for="Names" class="form-control" required/>
                                    <span asp-validation-for="Names" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>DOB</label>
                                    <input asp-for="DOB" type="date" class="form-control" required/>
                                    <span asp-validation-for="DOB" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>NRC</label>
                                    <input class="form-control" required/>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Email</label>
                                    <input asp-for="Email" class="form-control" type="email"required />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                  

                <label class="mt-4">Account Information</label>
                <div>
                    <div class="bg-dark roundCorder">
                        <div class="p-3">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Qualification</label>
                                    <input asp-for="Qualification" class="form-control" type="file" required/>
                                    <span asp-validation-for="Qualification" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Salary</label>
                                    <input asp-for="Salary" type="number" class="form-control" required/>
                                    <span asp-validation-for="Salary" class="text-danger"></span>
                                </div>
                            </div> 
                            <div class="form-group w-100">
                                <label >Password</label>
                                <input  class="form-control" type="password" required/>
                                <span class="text-danger"></span>
                            </div>
                        </div> 

                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Proceed To Account" class="btn btn-primary w-100 mt-4" />
                </div>
            </form>
        </div>
    </div>
</div>


 

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
