@model School_Management.Models.StudentModel

@{
    ViewData["Title"] = "CreateStudent";
}

<div class="section mt-3 mr-5">
    <div class="bg-dark p-3 roundCorder">
        <h4>CreateStudent</h4>
    </div>

    <div class="row mt-4">

        <div class="col-md-12">
            <form asp-action="CreateStudent">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <label>Personal Information</label>
                <div>
                    <div class="bg-dark roundCorder">
                        <div class="p-3">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">First Name</label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Last Name</label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">PhoneNumber</label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Email</label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Address</label>
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Gender</label>
                                    <select asp-for="Gender" class="form-control">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <label class="mt-4">Account Information</label>
                <div>
                    <div class="bg-dark roundCorder">
                        <div class="form-row p-3">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Grade</label>
                                <select asp-for="Grade" class="form-control">
                                    @for (int i = 0; i <= 12; i++)
                                    {
                                        <option value="i">G-@i</option>

                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">AcademkicYear</label>
                                <input asp-for="AcademkicYear" class="form-control" />
                                <span asp-validation-for="AcademkicYear" class="text-danger"></span>
                            </div>
                            <div class="form-group w-100">
                                <label for="inputEmail4">Password</label>
                                <input asp-for="Password" class="form-control" type="password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Proceed To Account" class="btn btn-primary w-100 mt-4" />
                </div> 
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
