@model School_Management.Models.AttendanceModel

@{
    ViewData["Title"] = "Attendance";
}


<div class="section mt-3 ">
    <div class="bg-dark p-3 roundCorder">
        <h4>Attendance</h4>
    </div>

    @* Stats Cars *@
    <div class="row mt-4">
        <div class="col-md-4 col-sm-6">
            <div class="bg-danger p-4 roundCorder">
                <p># of Subjetcs</p>
                <span>5</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 ">
            <div class="bg-info p-4 roundCorder">
                <p># of Teachers</p>
                <span>25</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 ">
            <div class="bg-success p-4 roundCorder">
                <p>Average Teacher per Subjetcs</p>
                <span>15</span>
            </div>
        </div>
    </div>


    @* Students Tbl *@
    <div class="roundCorder mt-4">
        <p>Students</p>
        <hr class="bg-white" />
        <DIV class="table-responsive">
            <table id="dataTable" class="table table-bordered" width:100% cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Teacher
                        </th>
                        <th>
                            Subject
                        </th>
                        <th>
                            State
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Subject.Count(); i++)
                    {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Subject.ElementAt(i).Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Teacher.ElementAt(i).Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.State)
                        </td>
                    </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Teacher
                        </th>
                        <th>
                            Subject
                        </th>
                        <th>
                            State
                        </th>
                    </tr>
                </tfoot>
            </table>

            <div class="text-center w-100 mt-4">
                <button class="btn btn-primary w-100">Update Record</button>
            </div>

        </DIV>
    </div>
</div>

@* Load datatable css *@
<link href="~/DataTables/DataTables-1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@* Load datatable js *@
@section Scripts{
    <script src="~/DataTables/DataTables-1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="~/DataTables/DataTables-1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

    </script>
}



